<div class="{{classnames 'pagePlug' class}}">
  <div class="pagePlug__container">
    <h3 class="pagePlug__title">{{title}}</h3>
    <p class="pagePlug__description">{{description}}</p>
    <a href="{{moveTo}}" class="pagePlug__mvBackLink">{{linkText}}</a>
  </div>
</div>